extends layout.pug
block content
    h1= title
    form(action="/", method="post")
        div.input
            span.label Name
            br
            input(type="text", name="name" placeholder="Enter name here",required)
            br
            span.label Email Id
            br
            input(type="email", name="email" placeholder="Enter email here")
            br
            span.label Date
            br
            input(type="date",name="dob" placeholder="Optional Data")
            br
        div.actions
            br
            input(type="submit", value="submit to api")