doctype html
html(lang="en")
  head
    link(rel='stylesheet',href='/stylesheets/style.css')

    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    title Task1
  body
    include includes/header.pug
    div.heading
      block heading
    div.container
      block content
    include includes/footer.pug

